html,
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height:100vh;
    padding:0px;
    margin:0px;
    font-family:arial;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#main{
    width:500px;
    height:340px;
    margin:auto;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius:5px;
}

#register-form{
    margin:0 auto;

    width:222px;
}

h1{
    font-size:18px;
    margin:0px;
    color:white;
}

input{
    border:none;
    border-radius:5px;
    padding:4px;
}

label{
    color:white;
}

#submit-button{
    padding:7px;
    width:100px;
    background-color:rgba(0, 0, 0, 0.589);
    color:white;
    transition:0.4s;
    cursor: pointer;
    float:right;
}

#submit-button:hover{
    background-color:black;
}

#return-button{
    color:rgba(0, 0, 0, 0.329);
    font-size:25px;
    float:left;
}
#return-button:hover{
    color:black;
    cursor:pointer;
}