<html>
    <head>
        <title>Movienite Votehub</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 
        <!--<script src="{{url_for('static', filename='node_modules/sortable/src/jquery-ui-1.10.1.custom.js')}}"></script>-->
        <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/profile.js')}}"></script>
        <script>
            $(document).ready(function(){
                $('body').attr('spellcheck', false);
                //open the user type selection dropdown
                $('#users-table td:last-child').on('click', function(event){
                    $('#type-dropdown').remove();
                    $(this).append(`
                        <div id="type-dropdown">
                                <div class="selection"><i class="fas fa-caret-down"></i><span>user</span></div>
                                <div class="selection"><span>admin</span></div>
                        </div>
                    `);
                });

                //open the movie category selection dropdown
                $('#movies-table td:last-child').on('click', function(event){
                    $('#category-dropdown').remove();
                    $(this).append(`
                        <div id="category-dropdown">
                                <div class="selection"><i class="fas fa-caret-down"></i><span>archive</span></div>
                                <div class="selection"><span>backlog</span></div>
                                <div class="selection"><span>cue</span></div>
                        </div>
                    `);
                });

                //change the user type from the dropdown
                $('#users-table td:last-child').on('click','.selection', function(e){
                    e.stopPropagation();
                    console.log('Changing user type');
                    dropdown_menu = $(this).parent();
                    changed_field = dropdown_menu.parent();
                    user_type = $(this).find('span').text();
                    changed_field.find('span').text(user_type); //adds text to the field
                    dropdown_menu.remove()
                });

                //change the movie category from the dropdown
                $('#movies-table td:last-child').on('click','.selection', function(e){
                    e.stopPropagation();
                    console.log('Changing movie category');
                    dropdown_menu = $(this).parent();
                    changed_field = dropdown_menu.parent();
                    user_type = $(this).find('span').text();
                    changed_field.find('span').text(user_type); //adds text to the field
                    dropdown_menu.remove()
                });

                $('#users-table td').on('click', function(){
                    if ($(this).attr('id') != 'user-type'){
                        $('#type-dropdown').remove();
                    }
                    $('td').removeClass('selected-item');
                    $(this).addClass('selected-item');
                });

                $('#return-button').on('click', function(){
                    window.location.href = '/'
                });

                $('#refresh-points').on('click', function(){
                    $('.user-points').text('1')
                });

                
                $('#refresh-votes').on('click', function(){
                    $('.user-last-vote').text('None')
                });

                //deselect selected items if clicked anywhere on the document
                $(document).on('click', function(e){
                    var target = $( e.target );
                    if ( !target.is('td') ){
                        $('.selected-item').removeClass('selected-item');
                    }
                });

                //send new data to users table
                $('#apply-users-button').on('click', function(){
                    console.log('Submitting changes to the Users table')
                    user_dictionary = {};
                    $('#users-table tr').each(function(i, row){
                        if(i != 0){
                            user_data = []
                            row = $(row)
                            row.find('br').remove()//fixes br insertions from contenteditable
                            username = row.find('.user-name').text()
                            votes = row.find('.user-last-vote').text()
                            points = row.find('.user-points').html()
                            email = row.find('.user-email').html()
                            type = row.find('#user-type-text').text()
                            user_data.push(parseInt(points),email,type,votes)
                            user_dictionary[username] = user_data
                        }
                    });
                    //user_dictionary = JSON.stringify(user_dictionary)
                    $.ajax({
                            url:'/applyuserchanges',
                            contentType: "application/json;charset=utf-8",
                            data: JSON.stringify(user_dictionary),
                            dataType: "json",
                            type: 'POST',
                            success: function(response){
                                $('#apply-users-button').append(`<i class="fas fa-check"></i>`)
                                console.log(response);
                            },
                            error: function(error){
                                $('#apply-users-button').append(`<i class="fas fa-times"></i>`)
                                console.log(response); 
                            }
                        });

                });

                //send new data to movies table
                $('#apply-movies-button').on('click', function(){
                    console.log('Submitting changes to the Movies table')
                    movie_dictionary = {};
                    $('#movies-table tr').each(function(i, row){
                        if(i != 0){
                            movie_data = []
                            row = $(row)
                            row.find('br').remove()//fixes br insertions from contenteditable
                            moviename = row.find('.movie-name').text()
                            votes = row.find('.movie-votes').text()
                            category = row.find('#movie-category').text()
                            movie_data.push(votes,category)
                            movie_dictionary[moviename] = movie_data
                        }
                    });
                    //user_dictionary = JSON.stringify(user_dictionary)
                    $.ajax({
                            url:'/applymoviechanges',
                            contentType: "application/json;charset=utf-8",
                            data: JSON.stringify(movie_dictionary),
                            dataType: "json",
                            type: 'POST',
                            success: function(response){
                                $('#apply-movies-button').append(`<i class="fas fa-check"></i>`)
                                console.log(response);
                            },
                            error: function(error){
                                $('#apply-movies-button').append(`<i class="fas fa-times"></i>`)
                                console.log(response); 
                            }
                        });

                });

            });

        </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="main">
                <div id="header">
                    <i id="return-button" class="fa fa-chevron-circle-left"></i>
                    <h1 id="users-header">Users</h1>
                    <h1 id="movies-header">Movies</h1>
                </div>
                <div id="left">
                    <div id="users-table-wrapper">
                        <table id="users-table">
                            <tr id="table-header">
                                <th>Username</th>
                                <th>Last Vote<i id="refresh-votes" class="fa fa-sync-alt"></i></th>
                                <th>Points<i id="refresh-points" class="fa fa-sync-alt"></i></th>
                                <th>Email</th>
                                <th>User Type</th>
                            </tr>
                            {%for object in user_objects %}
                            <tr>
                                <td class="user-name">{{ object.username }}</td>
                                <td class="user-last-vote">{{ object.last_vote }}</td>
                                <td class="user-points" contenteditable="true">{{ object.points }}</td>
                                <td class="user-email" contenteditable="true">{{ object.email}}</td>
                                <td id="user-type"><span id="user-type-text">{{ object.user_type }}</span><i class="fas fa-caret-down"></i></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div id="right">
                    <div id="movies-table-wrapper">
                        <table id="movies-table">
                            <tr id="table-header">
                                <th>Movie</th>
                                <th>Votes</th>
                                <th>Category</th>
                            </tr>
                            {%for object in movie_objects %}
                            <tr>
                                <td class="movie-name"><div>{{ object.movie }}</div></td>
                                <td class="movie-votes" contenteditable="true">{{ object.votes }}</td>
                                <td id="movie-category" ><span id="movie-category-text">{{ object.category }}</span><i class="fas fa-caret-down"></i></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div id="footer">
                    <button id="apply-movies-button">Apply Movies Changes</button>
                    <button id="apply-users-button">Apply Users Changes</button>
                </div>
            </div>
        </div>
    </body>
</html>