<html>
    <head>
        <title>Movienite Votehub</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pwreset.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 
        <!--<script src="{{url_for('static', filename='node_modules/sortable/src/jquery-ui-1.10.1.custom.js')}}"></script>-->
        <script>
            $(document).ready(function(){
                $('#return-button').on('click', function(){
                    window.location.href = '/login'
                });

            });

        </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="main-changepw">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password }}<br>
                    </p>
                    <p>
                        {{ form.password_confirm.label }}<br>
                        {{ form.password_confirm }}<br>
                    </p>
                    <p>{{ form.submit(id="submit-button") }}</p>
                    <center>
                        <span style="color: rgb(16, 243, 72);font-size:13px;">{{ message }}</span>
                        {% for error in form.password.errors %}
                        <span style="color: rgba(0, 0, 0, 0.856);">{{ error }}</span>
                        {% endfor %}
                        {% for error in form.password_confirm.errors %}
                        <span style="color: rgba(0, 0, 0, 0.856);">{{ error }}</span>
                        {% endfor %}
                    </center>
                </form>
            </div>
        </div>
    </body>
</html>