<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <div id="main">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}
                        <!-- Error Codes for username field go here -->
                        {% for error in form.username.errors %}
                            <span style="color:rgb(207, 207, 207);"> {{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}
                        <!-- Error Codes for username field go here -->
                        {% for error in form.password.errors %}
                            <span style="color:rgb(207, 207, 207);"> {{ error }}</span>
                        {% endfor %}
                    </p>
                    <p><a href="{{ url_for('reset_password_request') }}">Forgot my password</a></p>
                  <!--  <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p> -->
                    <p>{{ form.submit() }}</p>
                    <p style="color:rgb(207, 207, 207)">{{ error }}</p>
                    <!--Password reset messages get flashed here-->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}

                                {{ message }}

                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </body>
</html>