<div id="profile-wrapper">
    <!--<i id="return-button" class="fa fa-chevron-circle-left"></i>-->
    <h1 id="username-header">User: {{ user.username }}</h1>
    <div id="mid">
        <div id="user-movies-table-area">
            <div class="left">
                <table id="user-movies-table">
                    <tr id="table-header">
                        <th></th>
                        <th>Submitted Movies</th>
                        <th>Date Submitted</th>
                        <th></th>
                    </tr>
                    {%for object in user_movies %}
                    <tr id="{{ object.movie }}">
                        <td></td>
                        <td>{{ object.movie }}</td>
                        <td>{{ object.date.date() }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="right">
                <table id="user-votes-table">
                    <tr id="table-header">
                        <th></th>
                        <th>Voted Movies</th>
                        <th>Date Voted</th>
                        <th></th>
                    </tr>
                    {%for object in user_votes %}
                    <tr id="{{ object.movie }}">
                        <td></td>
                        <td>{{ object.movie }}</td>
                        <td>{{ object.date.date() }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>